<launch>
  <!-- Cargar el mapa desde el archivo YAML -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find my_robot_finder)/maps/mapa.yaml" />
  
  <!-- Otros nodos que necesites -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_robot_finder)/config/navigation_rviz.rviz"/>
</launch>

